<div class="box col-xs-12 col-sm-6 col-lg-3">
  <p class="quintuple-size">
    <%= link_to("[ + ]", new_kind_path()) %>
  </p>
</div>

<% @kinds.each do |k| %>
  <div class="box col-xs-12 col-sm-6 col-lg-3" style="background-color:#<%= get_random_color %>">
    <p class="triple-size">
      <%= link_to(kind_path(k)) do %>
        <%= "#{k.language}" %>
        <br />
        <%= "[ " + "#{get_count(@works, k.id)}" + " ]" %>
      <% end %>
    </p>
  </div>
<% end %>
