<table class="table table-striped">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Title</th>
      <th>Preview</th>
      <th>Creation Date</th>
      <th>Last Update</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |w| %>
      <tr>
        <td>
          <%#= collection_select :kind_id, Kind.all.order(:language), :id, :language, {}, {class: "form-control"} %>
          <select>
            <option value="css">CSS</option>
            <option value="ruby">Ruby</option>
            <option value="html">HTML</option>
            <option value="javascript">JavaScript</option>
          </select>
        </td>
        <td>
          <% text = "#{w.title}" %>
          <%= link_to(text, root_path) %>          
        </td>
        <td>
          <% text = "#{w.snippet}" %>
          <span title="<%= text.first(800) %>">
            <%= link_to "#{text.first(50)}...", work_path(w) %>
          </span>
        </td>
        <td>
          <%= "#{formatted_date(w.created_at)}" %>
        </td>
        <td>
          <%= "#{formatted_date(w.updated_at)}" %>
        </td>
        <td>
          <%= link_to "Edit", edit_work_path(w), class: "btn btn-info" %>
          <%= link_to "Delete", work_path(w), method: :delete,
          data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
