<script>
var enableUpdate = function (ctrlId) {
  document.getElementById("workUpdate-" + ctrlId).disabled = false;
}
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Title</th>
      <th>Preview</th>
      <th>Creation Date</th>
      <th>Last Update</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |w| %>
      <tr>
        <td>
          <%#= collection_select :kind_id, Kind.all.order(:language), :id, :language, {}, {class: "form-control"} %>
          <select id="workSelect-<%= w.id %>", onchange="enableUpdate(<%= w.id %>)">
            <% @kinds_list.each do |k| %>
              <option value="<%= k.id %>" <%= "selected" if k.id == w.kind_id %>><%= k.language %></option>
            <% end %>
          </select>
        </td>
        <td>
          <% text = "#{w.title}" %>
          <%= link_to(text, work_path(w)) %>
        </td>
        <td>
          <% text = "#{w.snippet}" %>
          <!-- <span title="<%= text.first(800) %>"> -->
            <!-- <%= link_to "#{text.first(50)}...", work_path(w) %> -->
            <span title="<%= truncate(text, length: 800, separator: ' ') %>">
            <%= link_to truncate(text, separator: ' '), work_path(w) %>
          </span>
        </td>
        <td>
          <%= "#{formatted_date(w.created_at)}" %>
        </td>
        <td>
          <%= "#{formatted_date(w.updated_at)}" %>
        </td>
        <td>
          <%= link_to "Edit", edit_work_path(w), class: "btn btn-info" %>
          <%= link_to "Delete", work_path(w), method: :delete,
          data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
          <%= link_to "Update", edit_work_path(w), method: :patch,
          class: "btn btn-disabled" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
